mixin trip(trip)
    article(class='trip col-sm-6 col-md-'+trip.box, data-index=trip.id)
        .trip__content
            figure.trip__image(style="background-image: url("+trip.image+");")
            
            if trip.on_sale
                p.trip__price--sale
                    span.before='$'+trip.price
                    span='$'+trip.price_sale
            else
                p.trip__price
                    span='$'+trip.price
            
            .trip__info
                h2.trip__title=trip.title
                p
                    span.trip__description=trip.description + ' - '
                    span.trip__place=trip.location
                